.clientsDiv{
    width: 100%;
    height: 1600px;
    background-color: #e9f0fb;
    margin-top: 1900px;
    position: absolute;
    z-index: 2;
}

.ClientsBackDiv{
    width: 100%;
    height: 840px;
    background-color: #2e3239;
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
}

.worldMap{
    margin-top: 70px;
    margin-left: 270px;
}

.pin {
    background: #4362f8;
    position: absolute;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
}

.pin::before {
    content: '';
    background: #4362f8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: pulse 1.3s ease-in-out infinite;
}

.pin span {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    left: 1.5em;
    color: #000000;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border-radius: 3em;
    padding: 0.3em 0.6em;
    font-size: 0.9em;
}
 .AbuDhabi span {
    top: -1em;
    left: -2.5em;
    
}

.Vadodara {
    top: 29%;
    left: 62.2%;
}

.Chennai{
    top: 31%;
    left: 63.2%;
}

.AbuDhabi{
    top: 28.7%;
    left: 58.6%;
}

.Saudi{
    top: 29.5%;
    left: 57%;
}

.Saudi span {
    top: 2em;
    left: -3em;
}

.Egypt{
    top: 27.7%;
    left: 53.9%;
}
.Egypt span {
    left: -4.5em;
}

.Nigeria{
    top: 31.5%;
    left: 49.6%;
}

.Nigeria span {
    left: -5em;
}

@keyframes pulse {
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(2.5);
    }
}

@media screen and (max-width: 600px) {
    .worldMap {
        font-size: 13px;
    }
}



.clientsImg{
   width: 70%;
   height: 500px;
   margin-left: 240px;
   margin-top: 40px;
   border-radius: 50px;
   /* box-shadow: 0px 0px 7px 2px rgb(70, 70, 70); */
}

.clientsName{
    margin-top: 40px;
    font-size: 50px;
    font-family: Jost, sans-serif;
    text-align: center;
    color: #fff;
}

.clientsList{
    width: 40%;
    height: 260px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #000000;
    font-weight: 600;
    margin-left: 120px;
    margin-top: 40px;
    text-align: start;
    padding-top: 10px;
    padding-left: 20px;
    box-shadow: 0px 0.7px 3px #ffffffc7;
}

.clientsList ul{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
     padding: 03px;
}

.secondClientsList{
    width: 40%;
    height: 260px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #000000;
    margin-left: 800px;
    margin-top: -270px;
    text-align: start;
    padding-top: 10px;
    font-weight: 600;
    padding-left: 20px;
    box-shadow: 0px 0.7px 3px #ffffffc7;
}
.secondClientsList ul {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
     padding: 03px;
}

.systmEngineers{
    margin-top: 40px;
    font-size: 50px;
    font-family: Jost, sans-serif;
    text-align: center;
    color: #fff;
}

.VadodaraProjects{
    margin-top: 20px;
    font-size: 27px;
    color: #fff;
    font-family: Jost, sans-serif;
    text-align: center;
}

.projectLists{
    width: 470px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #000000;
    font-weight: 600;
    margin-left: 520px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    padding-top: 20px;
    padding-left: 20px;
    box-shadow: 0px 0.7px 3px #ffffffc7;
}


.projectLists ul{
     font-size: 23px;
     font-family: Arial, Helvetica, sans-serif;
     padding: 03px;
    
}
